.div1{
    display: inline-block; 
    height: 210px;
    width: 434px;
    background-size: 100%;
    background-image: url(1.png);
}
p{
    font-size: 18px;
}
.div2{
    display: inline-block; 
    height: 224px;
    width: 363px;
    background-size: 100%;
    background-image: url(2.png);
}
.div3{
    display: inline-block; 
    height: 300px;
    width: 382px;
    background-size: 100%;
    background-image: url(3.png);
}
.div4{
    display: inline-block; 
    height: 258px;
    width: 420px;
    background-size: 100%;
    background-image: url(4.png);
}
.div5{
    display: inline-block; 
    height: 478px;
    width: 421px;
    background-size: 100%;
    background-image: url(5.png);
}
.div6{
    display: inline-block; 
    height: 481px;
    width: 720px;
    background-size: 100%;
    background-image: url(6.png);
}
